/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
文档
====
*/

/**
使用更合理的盒模型
*/

*,
::before,
::after {
    box-sizing: border-box;
}

/**
1. 提高所有浏览器默认字体的一致性。（https://github.com/sindresorhus/modern-normalize/issues/3）
2. 修正所有浏览器中的行高
3. 防止 iOS 更改屏幕方向后调整字体大小
4. 使用更易读的制表符大小
*/

html {
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    tab-size: 4;
    /* 4 */
}

/*
区块
====
*/

/**
移除所有浏览器中的外边距
*/

body {
    margin: 0;
}

/*
文本级语义
=========
*/

/**
在 Chrome 和 Safari 中设置正确的字体粗细
*/

b,
strong {
    font-weight: bolder;
}

/**
1. 提高所有浏览器默认字体的一致性。（https://github.com/sindresorhus/modern-normalize/issues/3）
2. 修正所有浏览器中异常的“em”字体大小
*/

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
在所有浏览器中设置正确的字体大小
*/

small {
    font-size: 80%;
}

/**
防止“sub”和“sup”元素影响所有浏览器中的行高
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
表格数据
========
*/

/**
修正 Chrome 和 Safari 中表格边框颜色的继承问题。（https://issues.chromium.org/issues/40615503，https://bugs.webkit.org/show_bug.cgi?id=195016）
*/

table {
    border-color: currentcolor;
}

/*
表单
====
*/

/**
1. 更改所有浏览器中的字体样式
2. 移除 Firefox 和 Safari 中的外边距
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
修正 iOS 和 Safari 中无法设置可点击类型样式的问题
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
移除内边距，避免开发者在所有浏览器中将“fieldset”元素的内边距设为零时出现问题
*/

legend {
    padding: 0;
}

/**
在 Chrome 和 Firefox 中设置正确的垂直对齐方式
*/

progress {
    vertical-align: baseline;
}

/**
修正 Safari 中增减按钮的光标样式
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. 修正 Chrome 和 Safari 中异常的外观
2. 修正 Safari 中的轮廓样式
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
移除 macOS 上 Chrome 和 Safari 中的内部内边距
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. 修正 iOS 和 Safari 中无法设置可点击类型样式的问题
2. 在 Safari 中将字体属性改为 inherit
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
交互元素
========
*/

/*
在 Chrome 和 Safari 中设置正确的显示方式
*/

summary {
    display: list-item;
}